@media only screen and (min-width:320px) and (max-width:480px) {
  .mock-p-0{
    padding: 0 20px !important;
  }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .mock-p-0{
      padding: 0 20px !important;
    }
  }

  @media only screen and (min-width:769px) and (max-width:1024px) {
    .mock-p-0{
      padding: 0 20px !important;
    }
  }