@media only screen and (min-width:320px) and (max-width:480px) {
  .mock-p-0 {
    padding: 0 20px !important;
  }

  #img1 {
    position: relative;
    bottom: 0px !important;
  }

  #navbarLoginBtn {
    margin: 0 !important;
  }

  .text-primary-gradient {
    text-align: center !important;
  }

  div h1 {
    text-align: center !important;
  }

  div.container div.row {
    text-align: center !important;
  }

  div.footer div.row{
    text-align: left !important;
  }

  div.footer div.row img{
    width: 60% !important;
    padding-bottom: 10px !important;
  }

  .footer .footer-menu a {
    margin: 0; 
    padding: 0;
    border: none;
}

  .display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-xxl {
    margin: 0 !important;
  }

  .card-header button::before {
    right: 8px !important;
  }

  form #contactSubmitBtn {
    font-size: 15px !important;
  }

  .form-floating>label {
    padding: 8px !important;
  }

  .custom-display-flex {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
}

@media only screen and (min-width:481px) and (max-width:768px) {
  .mock-p-0 {
    padding: 0 20px !important;
  }

  #img1 {
    position: relative;
    bottom: 0px !important;
  }

  #navbarLoginBtn {
    margin: 0 !important;
  }

  .hero-header h1 {
    font-size: 32px;
  }

  .text-primary-gradient {
    text-align: center !important;
  }

  div h1 {
    text-align: center !important;
  }

  div.container div.row {
    text-align: center !important;
  }

  div.footer div.row{
    text-align: left !important;
  }

  div.footer div.row img{
    width: 60% !important; 
  }

  .display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-xxl {
    margin: 0 !important;
  }

  .card-header button::before {
    right: 8px !important;
  }

  form #contactSubmitBtn {
    font-size: 15px !important;
  }

}

@media only screen and (min-width:769px) and (max-width:1024px) {
  .mock-p-0 {
    padding: 0 20px !important;
  }

  #navbarLoginBtn {
    margin: 0 !important;
  }

  .text-primary-gradient {
    text-align: center !important;
  }

  div h1 {
    text-align: center !important;
  }

  div.container div.row {
    text-align: center !important;
  }

  div.footer div.row img{
    width: 60% !important; 
    padding-bottom: 10px !important;
  }

  .display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-xxl {
    margin: 0 !important;
  }

  .card-header button::before {
    right: 8px !important;
  }
}