@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap);
.points,
.points p {
    width: 100%!important
}

.display-1,
.display-2,
.display-3,
.display-4,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25
}

.about-five-content .about-five-tab .tab-content p:last-child,
.footer-eleven .f-link li:last-child,
.navbar-area.navbar-nine .navbar-brand,
.pricing-style-fourteen .table-list li:last-child,
.sidebar-left .sidebar-content .sidebar-social ul li:last-child,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0
}

:root {
    --font-family: "Inter", sans-serif;
    --primary: #155bd5;
    --primary-dark: #1c3ab6;
    --primary-light: #e2f1ff;
    --accent: #00d4d7;
    --accent-dark: #00bac1;
    --accent-light: #dff9f8;
    --success: #13d527;
    --success-dark: #00ae11;
    --success-light: #eafbe7;
    --secondary: #8f15d5;
    --secondary-dark: #6013c7;
    --secondary-light: #f4e5fa;
    --info: #15b2d5;
    --info-dark: #0f8ca8;
    --info-light: #e0f5fa;
    --caution: #dbbb25;
    --caution-dark: #d58f15;
    --caution-light: #fbf9e4;
    --error: #e6185e;
    --error-dark: #bf1257;
    --error-light: #fce4eb;
    --black: #1d1d1d;
    --dark-1: #2d2d2d;
    --dark-2: #4d4d4d;
    --dark-3: #6d6d6d;
    --gray-1: #8d8d8d;
    --gray-2: #adadad;
    --gray-3: #cdcdcd;
    --gray-4: #e0e0e0;
    --light-1: #efefef;
    --light-2: #f5f5f5;
    --light-3: #fafafa;
    --white: #ffffff;
    --gradient-1: linear-gradient(180deg, #155bd5 0%, #1c3ab6 100%);
    --gradient-2: linear-gradient(180deg, #155bd5 13.02%, #00d4d7 85.42%);
    --gradient-3: linear-gradient(180deg, #155bd5 0%, #8f15d5 100%);
    --gradient-4: linear-gradient(180deg, #155bd5 0%, #13d527 100%);
    --gradient-5: linear-gradient(180deg, #155bd5 0%, #15bbd5 100%);
    --gradient-6: linear-gradient(180deg, #155bd5 0%, #dbbb25 100%);
    --gradient-7: linear-gradient(180deg, #155bd5 0%, #e6185e 100%);
    --gradient-8: linear-gradient(180deg, #1c3ab6 0%, #00bac1 100%);
    --gradient-9: linear-gradient(180deg, #00d4d7 13.02%, #155bd5 85.42%);
    --shadow-1: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    --shadow-2: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    --shadow-3: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    --shadow-4: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
    --shadow-5: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
    --shadow-6: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24)
}

body {
    font-family: var(--font-family);
    color: var(--black);
    font-size: 16px;
    width: 100%;
    float: left
}

@media (max-width:991px) {
    body {
        font-size: 14px
    }
}

img {
    max-width: 100%
}

.navbar-area.navbar-nine .navbar .navbar-nav .nav-item .sub-menu li a .sub-nav-toggler i,
a {
    display: inline-block
}

a,
a:focus,
a:hover,
button,
button:focus,
input:focus,
textarea:focus {
    text-decoration: none;
    outline: 0
}


.text-lg,
.text-small,
p {
    line-height: 1.5
}

p {
    font-size: 1em;
    font-weight: 400;
    color: var(--dark-3)
}

.text-small {
    font-size: .875em
}

.text-lg {
    font-size: 1.15em
}

.bg_cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: .08em;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid transparent
}

.btn:hover {
    color: inherit
}

.btn:focus {
    box-shadow: none;
    outline: 0
}

.btn.btn-lg {
    font-size: 1.15em;
    padding: 16px 24px
}

.btn.btn-sm {
    padding: 8px 16px
}

.btn.square {
    border-radius: 0
}

.btn.semi-rounded {
    border-radius: 12px
}

.btn.rounded-full {
    border-radius: 50px
}

.btn.icon-left i,
.btn.icon-left span {
    margin-right: 8px
}

.btn.icon-right i,
.btn.icon-right span {
    margin-left: 8px
}

.btn.icon-btn {
    width: 48px;
    height: 48px;
    padding: 0;
    line-height: 48px
}

.btn.icon-btn.btn-lg {
    width: 56px;
    height: 56px;
    line-height: 56px
}

.btn.icon-btn.btn-sm {
    width: 40px;
    height: 40px;
    line-height: 40px
}

.primary-btn {
    background: #253566;
    color: var(--white);
    box-shadow: var(--shadow-2)
}

.active.primary-btn,
.header-eight .active.primary-btn,
.header-eight .primary-btn:focus,
.header-eight .primary-btn:hover,
.primary-btn:focus,
.primary-btn:hover {
    background: var(--primary-dark);
    color: var(--white);
    box-shadow: var(--shadow-4)
}

.contact-form-wrapper .contact-form .deactive.primary-btn,
.deactive.primary-btn,
.header-eight .deactive.primary-btn {
    background: var(--gray-4);
    color: var(--dark-3);
    pointer-events: none
}

.primary-btn-outline {
    border-color: #253566;
    color: #253566
}
 

.banner {
    height: 146px;
    text-align: center;
    background: linear-gradient(45deg, #253566, var(--primary-dark))
}

.banner h1 {
    padding: 40px 0 0;
    color: #fff
}

.subfooter {
    font-size: 13px!important;
    background: #253566!important
}

.subfooter a {
    color: #fff!important
}

#cookieConsentBanner {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(37 53 102);
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    height: 70px;
    text-align: center
}

#cookieConsentBanner button {
    background-color: #97271f;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 11px
}

.term-part {
    text-align: right;
}

#faq-section {
    float: left;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}

.scroll-top {
    background: #3d4b77;
}

.scroll-top:hover {
    background: #3d4b77;
}

.iti {
    width: 100% !important;
}

.subfooter {
    background: linear-gradient(45deg, #253566, red);
    color: #fff !important;
    text-align: center;
    padding: 15px 0;
}

.subfooter p {
    color: #fff;
}

.subfooter a {
    font-size: 12px;
}