name: Deploy to Server

on:
  push:
    branches:
      - main  # Replace with your branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with: 
          host: 91.108.104.253
          username: parth_businessjoy_ssh
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: | 
            cd ~/htdocs/businessjoy.in && ./.scripts/deploy.sh


           